@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 6px;
  scroll-behavior: smooth;
}

::-webkit-scrollbar-track {
  background: #1b1b1b;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb {
  background: #edeae1;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #fec430;
}
